<div id="footerwrap">
    <div class="container">
    	<div class="row">
    		<div class="col-md-8">
    			<span class="copyright">Copyright &copy; 2016 GraMusic</span>
    		</div>
        <div class="col-md-4">
	        <ul class="list-inline social-buttons">
	            <li><a href=""><i class="fa fa-github"></i></a></li>
	        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/retina.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script> 
<script type="text/javascript" src="/assets/js/jquery-func.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-player.js"></script>
<script type="text/javascript" src="/assets/amcharts/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/assets/amcharts/amcharts/serial.js"></script>
<script type="text/javascript" src="/assets/amcharts/amcharts/themes/light.js"></script>

<script type="text/javascript" src="/javascripts/playlist.js"></script>
<script type="text/javascript" src='/javascripts/analyzeXML.js'></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/topten.js"></script>
<!-- <script type="text/javascript" src="/javascripts/rss.js"></script> -->
</body>
</html>