<div id="footerwrap">
    <div class="container">
    	<div class="row">
    		<div class="col-md-8">
    			<span class="copyright">Copyright &copy; 2016 GraMusic</span>
    		</div>
        <div class="col-md-4">
	        <ul class="list-inline social-buttons">
	        	<!-- <p>Join me:</p> -->
	            <li><a href=""><i class="fa fa-github"></i></a></li>
	        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/retina.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script> 
<script type="text/javascript" src="/assets/js/jquery-func.js"></script>
</body>
</html>