<% include header.html %>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
        	</button>
        	<a class="navbar-brand" href="/home">GraMusic</a> 
      	</div>
      	<div class="navbar-collapse collapse">
        	<ul class="nav navbar-nav navbar-right">
	          	<li><a href="/home" class="smoothScroll">Home</a></li>
	          	<li class="active"><a href="/home/map" class="smoothScroll">Map</a></li>
		        <li><a href="/home/music" class="smoothScroll">Music</a></li>
		        <li><a href="/home/playList" class="smoothScroll">PlayList</a></li>
		        <li><a href="" class="smoothScroll">RSS</a></li>
		        <li><a href="/" class="smoothScroll">Logout</a></li>
        	</ul>
      	</div>
    </div>
</div>
<div id="headerwrap" name="home">
  	<header class="clearfix"> <i class="fa fa-language icon"></i>
    	<h1>Music & Data statistics</h1>
    	<p>Grabbing music informations from NetEase Music and analyze those datas.</p>
    	<p>You may find something interesting!</p>
    	<a href="#about" class="smoothScroll btn btn-lg">Start</a> </header>
</div>
<% include footer.html %>
