<% include header.html %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    	<div class="navbar-header">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span> 
      	</button>
      	<a class="navbar-brand" href="/home">GraMusic</a> 
    	</div>
    	<div class="navbar-collapse collapse">
      	<ul class="nav navbar-nav navbar-right">
          	<li><a href="/home">Home</a></li>
          	<li><a href="/home/map">Map</a></li>
	        <li><a href="/home/topTen">TopTen</a></li>
	        <li class="active"><a href="/home/playList" class="">PlayList</a></li>
	        <li><a href="/home/rss">RSS</a></li>
	        <li><a href="/">Logout</a></li>
      	</ul>
    	</div>
  </div>
</div>
<div class="container jx-container">
  <div class="col-md-offset-1 col-md-10">
      <div id="chart1">
        <h4 class="text-center">Daily creation about play list:</h4>
        <div id="chartdiv"></div>
      </div>
    </div>
</div>
<% include footer.html %>
