<% include header.html %>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span> 
        	</button>
        	<a class="navbar-brand" href="/home">GraMusic</a> 
      	</div>
      	<div class="navbar-collapse collapse">
        	<ul class="nav navbar-nav navbar-right">
	          	<li><a href="/home">Home</a></li>
	          	<li><a href="/home/map">Map</a></li>
		        <li><a href="/home/topTen">TopTen</a></li>
		        <li><a href="/home/playList">PlayList</a></li>
		        <li class="active"><a href="/home/rss">RSS</a></li>
		        <li><a href="/" class="">Logout</a></li>
        	</ul>
      	</div>
    </div>
</div>
<div id="headerwrap">
  	<header class="clearfix"> 
      <!-- <i class="fa fa-language icon"></i> -->
      	<h1><%= subtitle %></h1>
      	<div class="container">
      		<div class="col-md-offset-2 col-md-8">
      			<ul class="list-group jx-ul">
            <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">1</span><%= rssTitle1%></li>
  				  	<li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink1%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor1%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate1%></li>
  				  </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">2</span><%= rssTitle2%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink2%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor2%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate2%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">3</span><%= rssTitle3%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink3%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor3%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate3%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">4</span><%= rssTitle4%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink4%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor4%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate4%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">5</span><%= rssTitle5%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink5%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor5%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate5%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">6</span><%= rssTitle6%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink6%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor6%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate6%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">7</span><%= rssTitle7%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink7%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor7%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate7%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">8</span><%= rssTitle8%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink8%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor8%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate8%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">9</span><%= rssTitle9%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink9%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor9%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate9%></li>
            </ul>
            <ul class="list-group jx-ul">
              <li class="list-group-item"><span class='col-md-2 label label-success'>Title</span><span class="badge jx-badge">10</span><%= rssTitle10%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Link</span><a><%= rssLink10%></a></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>Author</span><%= rssAuthor10%></li>
              <li class="list-group-item"><span class='col-md-2 label label-success'>PubDate</span><%= rssPubDate10%></li>
            </ul>
      		</div>
      	</div>
      
    </header>
</div>
<% include footer.html %>
